:root {
  --font-family: 'Inter', sans-serif;
  --border-radius: 12px;
  --primary: #ffffff; /* Odcień białego jako tło */
  --secondary: #eeeff0; /* Odcień szarego jako tło */
  --text-primary: #1b1c1e; /* Odcień czerni jako kolor tekstu */
  --text-secondary: #5b5c5e; /* Inny odcień szarego jako kolor tekstu */
  --button-primary: #6b3c9b; /* Odcień fioletu jako kolor buttonów dla dobrej akcji */
  --button-secondary: #0f75b8; /* Odcień niebieskiego jako kolor buttonów dla złej akcji */
  --button-border: #bcbcbd;
  --font-bolder: 500;
  font-family: var(--font-family);
  background-color: var(--primary);
}

body {
  font-size: 16px;
}

.d-flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

header {
  display: flex;
  flex-direction: row;
}

h1 {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.875rem;
  margin: 0;
}

header note-icon {
  height: 1.875rem;
  width: 1.875rem;
}

#app {
  display: flex;
  flex-direction: column;

  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.search-input {
  height: 2.5rem;
}

.search-input-icon {
  width: 1.5rem;
  height: 1.5rem;
  align-self: center;
  margin: 0.438rem;
}

.mx {
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
}
